<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Resources</title>

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body data-spy="scroll" data-target="#main-navbar">

        
        <!-- Header Section -->
           	<section id="portalheader" class="clients">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="title-box">
                                <h1 class="section-title">Resources</h1>
                            </div>
                                   {{#if success_msg}}
          <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
      <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}


          {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
          {{/if}}
        </div>
                                </div>
        <div class="row">
               <div class="col-sm-3"></div><div class="col-sm-6">

                              
                                                               <p style ="text-align: center; font-size: large"> <h2>LINKS</h2> <br />
                                                               IRS - <a href="https://irs.gov" target="_blank">https://irs.gov</a>   <br />
                                                               Arizona Department of Revenue - <a href="https://azdor.gov" target="_blank">https://azdor.gov</a> <br />
                                                              Maricopa County - <a href="https://maricopa.gov" target="_blank">https://maricopa.gov</a>   <br />
                                                              Arizona Corporation Commission - <a href="https://azcc.gov" target="_blank">https://azcc.gov</a>   <br />
                                                              Social Security Administration - <a href="https://ssa.gov" target="_blank">https://ssa.gov</a> <br /> <br />

                                <p style ="text-align: center; font-size: large"><h2>RETIREMENT</h2> <br />
                                Retirement Calculator - <a href="https://www.calculator.net/retirement-calculator.html" target="_blank">https://www.calculator.net/retirement-calculator.html</a> <br />
                                401(k) Calculator  -  <a href="https://www.calculator.net/401k-calculator.html" target="_blank">https://www.calculator.net/401k-calculator.html</a> <br />
                                IRA Calculator - <a href="https://www.calculator.net/ira-calculator.html" target="_blank">https://www.calculator.net/ira-calculator.html</a> <br /> <br />

                                 <p style ="text-align: center; font-size: large"><h2>MORTGAGE AND REAL ESTATE</h2> <br />
                                  Mortgage Calculator - <a href="https://www.calculator.net/mortgage-calculator.html " target="_blank">https://www.calculator.net/mortgage-calculator.html </a> <br />
                                  House Affordability Calculator - <a href="https://www.calculator.net/house-affordability-calculator.html" target="_blank">https://www.calculator.net/house-affordability-calculator.html</a> <br /> 
                                  Rent vs Buy Calculator - <a href="https://www.calculator.net/rent-vs-buy-calculator.html" target="_blank">https://www.calculator.net/rent-vs-buy-calculator.html</a> <br /> <br />

                                 <p style ="text-align: center; font-size: large"> <h2>AUTO</h2> <br />
                                  Auto Loan Calculator - <a href="https://www.calculator.net/auto-loan-calculator.html" target="_blank">https://www.calculator.net/auto-loan-calculator.html </a> <br />
                                  Auto Lease Calculator - <a href="https://www.calculator.net/auto-lease-calculator.html" target="_blank">https://www.calculator.net/auto-lease-calculator.html</a> <br />  <br />

                                  <p style ="text-align: center; font-size: large"> <h2>FINANCIAL</h2> <br />
                                  Currency Calculator - <a href="https://www.calculator.net/currency-calculator.html" target="_blank">https://www.calculator.net/currency-calculator.html</a> <br />  
                                  Investment Calculator - <a href="https://www.calculator.net/investment-calculator.html " target="_blank">  https://www.calculator.net/investment-calculator.html </a> <br />
                                  Budget Calculator - <a href="https://www.calculator.net/budget-calculator.html" target="_blank">https://www.calculator.net/budget-calculator.html</a> <br />  

  
                            </div>

            </section>

             <!-- Header Section -->

        <!-- Footer -->
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <div class="footer-social">
                                <a href="https://www.facebook.com/Hopkins-Tameron-Hostal-582836651925232/" target="_blank"><i class="ion-social-facebook"></i></a>
                                <a href="https://www.linkedin.com/company/16232649/" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                <a href="#"><i class="ion-social-twitter"></i></a>
								<a href="#"><i class="ion-social-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

    </body>
</html>
